# Config vars
DEV_ID = 
LOG_CHANNEL = 
DB = 
R2_SERVER = 
INTERNAL_KEY =

# Dev vars
TOKEN_DEV = 
APPID_DEV = 
OSU_DEV_ID = 
OSU_DEV_SECRET = 

# Prod vars
TOKEN = 
APPID = 
OSU_ID = 
OSU_SECRET = 

# Dev guild
GUILD = 

# Misc
GELBOORU_KEY = 
OSU_KEY = 
DBL_TOKEN = 
IMG_KEY = 
WOLFRAM_KEY = 
SCREENSHOT_KEY =
RAPID_KEY = 
WAIFU_IT = 
PORT = 
